$input-border-color: $light-gray;
$input-font-size: $font-size-large;
$input-border: $input-border-color solid 1px;
$input-margin: 0 0 20px 0;
$input-padding: 0;
$input-focus-color: #ec1c24;
$input-height:25px;
$label-font-size: $input-font-size;
$placeholder-text-color: lighten($input-border-color, 20%);


::-webkit-input-placeholder {
  color: $placeholder-text-color;
}

:-moz-placeholder { /* Firefox 18- */
  color: $placeholder-text-color;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: $placeholder-text-color;
}

:-ms-input-placeholder {
  color: $placeholder-text-color;
}

/* Text inputs */

input:not([type]),
input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=time],
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=tel],
input[type=number],
input[type=search]{
  background-color: transparent;
  border: none;
  border-bottom: $input-border;
  border-radius: 0;
  outline: none;
  height: $input-height;
  width: 100%;
  font-size: $input-font-size;
  margin: $input-margin;
  padding: $input-padding;
  box-shadow: none;
  box-sizing: content-box;
  transition: $transition-fast;

  &.disabled {
    border-bottom: 1px dotted lighten($input-border-color, 20%) ;
    cursor: default;
    pointer-events: none;
  }

  &.disabled+label{
    color: lighten($input-border-color,20%);
  }

  &:focus {
    border-bottom: 1px solid $input-focus-color;
  }

  &:focus+label {
    color: $input-focus-color;
  }
}

.input-field {
  position: relative;
  margin-top: 1rem;
  label {
    color: $input-border-color;
    position: absolute;
    top: 0.8rem;
    font-size: $input-font-size;
    cursor: text;
    transition: $transition-fast;
    left: 0;
  }

  label.active {
    font-size: $label-font-size;
    transform: translateY(-140%);
  }
}
