@import "./variables/_bootstrap";

$bg-min-height: 700px;
$hero-topic-font-size: 80px;
$hero-info-font-size: floor(($hero-topic-font-size * 0.4));

// todo: Responsive Design

.hero {
  height: 100vh;
  padding-top: 300px;
  min-height: $bg-min-height - $header-height;
  .intro{
    color: white;
    width: 800px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    .topic{
      font-size: $hero-topic-font-size;
    }

    .info{
      font-size: $hero-info-font-size;
    }
  }
}

.bg-wrapper {
  position: absolute;
  z-index: -999;
  top: 0;
  left: 0;
  height: 100%;
  min-height: $bg-min-height;
  width: 100%;

  video{
    width: 100%;
    filter: brightness(30%);
  }
}
