.full-vh {
  height: 100vh;
}

.bg-wrapper {
  height: 100%;
  width: 100%;
  background-image: url("../assets/image/1920x1080.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
