.formInput{
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.forgetPW{
  text-align: center;
  color:#000000;
  border-bottom: 1px solid #000000;
  &:hover{
    color:lighten(#000000, 20%);
  }
}
