$tabs-font-size:15px;
$tabs-inactive-color:#d9d9d9;
$tabs-active-color:#262626;
$tabs-text-color: #f2f2f2;
$tab-link-height:56px;
$tab-link-width:400px;

  .tabs {
    margin-left: 0px;
    margin-bottom: 20px;
    margin-top: 40px;
    padding-left: 0px;
    .tab-link {
     width: $tab-link-width;
     height:$tab-link-height;
     display: inline-block;
     font-size: $tabs-font-size;
     color:     $tabs-text-color;
     background-color: $tabs-inactive-color;
     padding:10px 20px;
     margin-bottom: 20px;
     transition: $transition-fast;
     //transition: border-bottom 0.5s;
     &.active {
       background-color: $tabs-active-color;
     }
     &:hover{
       color: lighten($tabs-text-color, 20%);
     }
     &.disabled{
       color: lighten($tabs-text-color, 20%);
       cursor: default;
       pointer-events: none;
     }
    }
    .link-wrapper{
      display: inline-block;
      margin-right: 10px;
    }
    .link-wrapper:not(:last-child):after {
      content: '';
      position:absolute;
      height: 0;
      width: 0;
      margin-left: 0px;
      border-top: $tab-link-height/2 solid transparent;
      border-bottom: $tab-link-height/2 solid transparent;
      border-left:$tab-link-height/2 solid $tabs-inactive-color;
      z-index: 10;
      transition: $transition-fast;
    }
    .link-wrapper.active:not(:last-child):after {
      border-left:$tab-link-height/2 solid $tabs-active-color;
    }
    .link-wrapper:not(:first-child):before {
      content: '';
      position:absolute;
      height: 0;
      width: 0;
      margin-left: 0px;
      border-top: $tab-link-height/2 solid transparent;
      border-bottom: $tab-link-height/2 solid transparent;
      border-left:$tab-link-height/2 solid #fff; //this color should match with background to get transparency effect.
      z-index: 0;
    }
    .tab-link-sm{
      @extend .tab-link;
    }
    .tab-link-lg {
      @extend .tab-link;
      font-size: $tabs-font-size+10px;
    }
    .tab-link-jb {
      @extend .tab-link;
      font-size: $tabs-font-size+20px;
    }
  }
  .tabs-center{
    @extend .tabs;
    text-align: center;
  }
  .tabs-right{
    @extend .tabs;
    text-align: right;
  }
  .tabs-left{
    @extend .tabs;
    text-align: left;
  }
