

.tournament-list-item{
  height: $tournament-list-item-height;
  color: white;
  background-color: $light-gray;
  border: 1px solid $light-gray;
  cursor: pointer;
  transition: $transition-all;

  &:hover{
    border: 1px solid $passion-red;
    box-shadow: 0 0 5px $passion-red;
  }

  > a {
    text-decoration: none;
    color: #000000;
  }

  hr {
    margin: 5px 0 5px 0;
    border-top: 1px solid $light-gray;
  }

  .tournament-image{
    height: $tournament-list-item-image-height;
    background-size: cover;
    background-position: center;
  }

  .content-area{
    padding: $tournament-list-item-content-area-padding;
  }

  .content-title{
    padding: 8px 4px;

    .title{
      font-size: $font-size-h3;
    }

    .creator{
      font-size: $font-size-h4;
    }
  }
}
