{
    "extends": "eslint-config-airbnb",
    "globals": {
      "describe" : true,
      "it" : true,
      "before" : true,
      "after" : true
    },
    "rules" : {
      "sort-imports": "off",
      "comma-dangle": "off",
      "func-names": "off",
      "new-cap": "off",
      "react/prefer-stateless-function": "off",
      "consistent-return": "off",
      "no-unused-vars" : 1
    }
}
