//*********************************************
// TRANSITION
//*********************************************
$transition-default: all 0.5s ease-in-out;
$transition-tournament-list-item: all 0.25s ease-in-out;

//*********************************************
// COLORS
//*********************************************
$black:               #000000;
$dark-gray:           #231f20;
$light-gray:          #272b30;
$passion-red:         #eb2227;

//*********************************************
// TOURNAMENT LIST RELATED VARIABLES
//*********************************************
$tournament-list-item-height:                 500px;
$tournament-list-item-image-height:           200px;
$tournament-list-item-content-area-padding:   15px;
